{{#each this}}
<li class="list__item">
    <h2 class="list__name"><img class="list__flag" src={{flags.svg}} alt="Flag of {{name.common}}" height="30px" width="45px">{{name.official}}</h2>
</li>
{{/each}}
